<% faculty = slide.building_name.blank? ? Faculty.none : Faculty.in_building(slide.building_name) %>

<h1 class="ui-slide-heading"><%= slide.heading %></h1>
<subhead class="ui-slide-subheading"><%= slide.subheading %></subhead>

<div class="ui-slide-collection">
  <div class="ui-slide-collection-inset">
    <% faculty.each do |f| %>
      <article class="ui-member">
        <%= image_tag (f.thumbnail || 'default-profile.png' ), alt: f.full_name, class: 'ui-member-image' %>

        <h1 class="ui-member-name"><%= f.full_name %></h1>
        <p class="ui-member-location">Office <%= f.office_name %></p>
        <p class="ui-member-email"><%= f.email %></p>
      </article>
    <% end %>
  </div>
</div>