<div class="ui-slide-body">
  <h1 class="ui-slide-heading"><%= slide.heading %></h1>
  <subhead class="ui-slide-subheading"><%= slide.subheading %></subhead>

  <p class="ui-slide-datetime"><%= slide.datetime %></p>
  <p class="ui-slide-location"><%= slide.location %></p>

  <div class="ui-slide-content"><%= slide.content.try(:html_safe) %></div>
</div>

<% if slide.background_type == 'video' %>
  <video id="js-background-video" src="<%= slide.background %>" class="ui-slide-background" preload='auto' loop></video>
<% end %>

<% if slide.background_type == 'image' %>
  <div class="ui-slide-background" style="width: 100%; height: 100%; background:url('<%= slide.background_url %>') no-repeat center; background-size: cover;"></div>
<% end %>

<% if slide.foreground_type == 'video' %>
  <video controls muted id="js-foreground-video" src="<%= slide.foreground %>" class="ui-slide-foreground" loop style="width: 100%; height: 100%;"></video>
<% end %>

<% if slide.foreground_type == 'image' %>
  <div class="ui-slide-foreground" style="width: 100%; height: 100%; background:url('<%= slide.foreground_url %>') no-repeat center; background-size: <%= slide.foreground_sizing %>;"></div>
<% end %>