<%= form_for @slide, html: { multipart: true, id: 'slide_form' } do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- First Fieldset -->

  <fieldset>
    <div class="field">
      <%= f.label :menu_name, "Name (appears on menu)" %>
      <%= f.text_field :menu_name %>
    </div>

    <div class="field">
      <%= f.label :template, "Choose from the three available slide templates" %>
      <div class="field-description">
        <ul>
          <li><strong>Directory:</strong> listing of faculty in a building</li>
          <li><strong>Schedule:</strong> listing of events</li>
          <li><strong>Standard:</strong> heading, main content, background image/video, foreground image/video</li>
        </ul>
      </div>
      <%= f.select :template, Slide.templates.map{|t| [t.humanize, t] }, { include_blank: 'Select your template'}, class: 'dropdown-select' %>
    </div>
  </fieldset>

  <!-- Second Fieldset -->

  <fieldset data-show-when="#slide_template==(standard|directory|schedule)">
    <h4>Slide Content</h4>
    <div class="slide-fields">
      <div class="field" data-show-when="#slide_template==(standard|directory|schedule)">
        <%= f.label :theme %>
        <%= f.select :theme, Slide.themes.map{|t| [t.humanize, t] } %>
      </div>

      <div class="field" data-show-when="#slide_template==standard">
        <%= f.label :layout %>
        <%= f.select :layout, Slide.layouts.map{|t| [t.humanize, t] } %>
      </div>

      <div class="field" data-show-when="#slide_template==(standard|directory|schedule)">
        <%= f.label :heading %>
        <%= f.text_field :heading %>
      </div>

      <div class="field" data-show-when="#slide_template==(standard|directory|schedule)">
        <%= f.label :subheading %>
        <%= f.text_field :subheading %>
      </div>

      <div class="field" data-show-when="#slide_template==(standard|directory|schedule)">
        <%= f.label :organizer, "Organizer/Sponsor" %>
        <%= f.select :organizer, organizer_options.map{|f| [f, f] } %>
      </div>

      <div class="field" data-show-when="#slide_template==standard">
        <%= f.label :datetime %>
        <%= f.text_field :datetime %>
      </div>

      <div class="field" data-show-when="#slide_template==standard">
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>

      <div class="field" data-show-when="#slide_template==standard">
        <%= f.label :content %>
        <%= f.text_area :content, :class => "tinymce", :rows => 16, :cols => 120 %>
        <script>
          tinyMCE.init({
            menubar:        false,
            content_style: 'p { font-size: 16px; }',
            selector:      '.tinymce',
            setup: function (editor) {
              editor.on('blur', function () {
                tinyMCE.triggerSave();
                $('textarea.tinymce').trigger('change');
              });
            }
          });
        </script>
      </div>

      <div data-show-when="#slide_template==standard">
      <div class="field">
        <%= f.label :background_type %>
        <%= f.select :background_type, Slide.background_types.map{|t| [t.humanize, t]} %>
      </div>

      <div class="field" data-show-when="#slide_background_type==^(?!none)">
        <%= f.label :background %>
        <%= f.file_field :background %>
        <%= f.hidden_field :background_cache %>
        <%= f.label :remove_background do %>
          <%= f.check_box :remove_background %> Remove background
        <% end %>
      </div>

      <div class="field" >
        <%= f.label :foreground_type %>
        <%= f.select :foreground_type, Slide.foreground_types.map{|t| [t.humanize, t]} %>
      </div>

      <div class="field" data-show-when="#slide_foreground_type==^(?!none)">
        <%= f.label :foreground %>
        <%= f.file_field :foreground %>
        <%= f.hidden_field :foreground_cache %>
        <%= f.label :remove_foreground do %>
          <%= f.check_box :remove_foreground %> Remove foreground
        <% end %>
      </div>

      <div class="field" data-show-when="#slide_foreground_type==^(?!none)">
        <%= f.label :foreground_sizing %>
        <%= f.select :foreground_sizing, Slide.foreground_sizings %>
      </div>
      </div>

      <div class="field" data-show-when="#slide_template==directory">
        <%= f.label :directory_feed, "Show Faculty In" %>
        <%= f.select :directory_feed, Slide.directory_feeds.map{|f| [f, f] } %>
      </div>


      <div data-show-when="#slide_template==schedule" >
        <label>Listing of Events to Show on Slide</label>
        <div data-behavior="dynamic-fields-parent" >
          <%= f.fields_for :scheduled_items do |ff| %>
            <%= render 'scheduled_item_fields', f: ff %>
          <% end %>
        </div>
        <%= link_to_add_dynamic_fields "+ Add Event", f, :scheduled_items %>
      </div>

      <hr />

      <h4>Slide Settings</h4>
      <div class="field">
        <%= label_tag "Show this slide" %>
        <%= f.label :show_1, style: 'display: inline' do %>
          <%= f.radio_button :show, "1", checked: @slide.show %>Yes
        <% end %>
        &nbsp;&nbsp;&nbsp;
        <%= f.label :show_0, style: 'display: inline' do %>
          <%= f.radio_button :show, "0", checked: !@slide.show %>No
        <% end %>
      </div>

      <div class="field">
        <%= f.label :device_ids %>
        <%= f.select :device_ids, @devices.map{|d| [d.name, d.id] }, {}, multiple: true, size: 8 %>
      </div>

      <div class="slide-time-range">
        <div class="field">
          <%= f.label :duration, "Number of seconds to display slide" %>
          <%= f.number_field :duration %>
        </div>

        <div class="field">
          <%= f.label :play_on, "Start playing slide on" %>
          <%= f.text_field :play_on, value: format_date(@slide.play_on || Time.zone.now), data: { datetimepicker: true } %>
        </div>

        <div class="field">
          <%= f.label :stop_on, "Stop playing slide on" %>
          <%= f.text_field :stop_on, data: { datetimepicker: true } %>
        </div>
      </div>
    </div>
    <div class="slide-live-preview">
      <div class="slide-preview js-sticky-slide-preview">
        <div class="slide-preview-wrapper">
          <%= content_tag  :iframe, nil, src: nil, id: 'slide-live-preview', frameborder: 0, allowfullscreen: true %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="actions" data-show-when="#slide_template==(standard|directory|schedule)">
    <%= f.submit %>
  </div>
<% end %>