<div class="slide-form-container">

  <%= form_for @slide, 
    html: { 
      multipart: true, 
      id: 'slide_form', 
      data: { 
        draft_url: draft_slide_path(@slide) 
      } 
    } do |f| %>

    <% if @slide.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

        <ul>
        <% @slide.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!-- First Fieldset -->

    <div class="essential-fields live-preview-triggers">
      <%= hidden_field_tag :id, @slide.id %>

      <div class="input-field">
        <%= f.text_field :menu_name %>
        <%= f.label :menu_name, "Slide name" %>
      </div>

      <div class="input-field template">
        <%= f.select :template, Slide.templates.map{|t| [t.titleize, t] }, { include_blank: 'Select your template'}, id: "slide_template" %>
        <%= f.label :template, "Select slide template" %>
      </div>

      <div class="input-field orientation" data-show-when="#slide_template==social_feed">
        <%= f.select :orientation, Slide.orientations.keys.map{|o| [o.humanize, o] }, { include_blank: 'Select slide orientation'}, id: "slide_orientation" %>
        <%= f.label :orientation, "Select slide orientation" %>
      </div>
    </div>

    <!-- Second Fieldset -->

    <div data-show-when="#slide_template==(standard|directory|schedule|social_feed)">
      <div class="slide-fields">
        <div class="live-preview-triggers">
          <div class="input-field" data-show-when="#slide_template==(standard|directory|schedule|social_feed)">
            <%= f.text_field :heading %>
            <%= f.label :heading %>
          </div>

          <div class="input-field" data-show-when="#slide_template==social_feed">
            <%= f.text_field :feed_url %>
            <%= f.label :feed_url %>
          </div>

          <div class="input-field" data-show-when="#slide_template==(standard|directory|schedule)">
            <%= f.label :subheading %>
            <%= f.text_field :subheading %>
          </div>

          <div class="input-field" data-show-when="#slide_template==standard">
            <%= f.text_field :datetime %>
            <%= f.label :datetime, "Secondary info line 1" %>
          </div>

          <div class="input-field" data-show-when="#slide_template==standard">
            <%= f.text_field :location %>
            <%= f.label :location, "Secondary info line 2" %>
          </div>

          <div class="input-field" data-show-when="#slide_template==standard">
            <%= f.label :content %>
            <%= f.trix_editor :content%>
          </div>

          <div class="radio-button-group" data-show-when="#slide_template==(standard|directory|schedule|social_feed)">
            <p>
              <%= f.radio_button :theme, 'light' %>
              <%= f.label :theme_light, 'Light color theme' %>
            </p>
            <p>
              <%= f.radio_button :theme, 'dark' %>
              <%= f.label :theme_dark, 'Dark color theme' %>
            </p>
          </div>

          <div class="radio-button-group" data-show-when="#slide_template==standard">
            <p>
              <%= f.radio_button :layout, 'left' %>
              <%= f.label :layout_left, 'Left align text' %>
            </p>
            <p>
              <%= f.radio_button :layout, 'center' %>
              <%= f.label :layout_center, 'Center align text' %>
            </p>
            <p>
              <%= f.radio_button :layout, 'right' %>
              <%= f.label :layout_right, 'Right align text' %>
            </p>
          </div>

          <div class="field" data-show-when="#slide_template==(standard|directory|schedule|social_feed)">
            <%= f.label :sponsor, "Organizer/Sponsor" %>
            <%= f.select :sponsor_id, options_for_select(Sponsor.all.map{|s|[s.name, s.id]}, @slide.sponsor_id), { include_blank: 'None' } %>
          </div>

          <div data-show-when="#slide_template==standard">
            <div class="radio-button-group">
              <p>For image resizing needs, please visit <a target="_blank" href="http://dimensions.chapman.edu">dimensions.chapman.edu</a></p>
              <label class="group-label">Background style</label>
              <p>
                <%= f.radio_button :background_type, 'none' %>
                <%= f.label :background_type_none, 'Simple background' %>
              </p>
              <p>
                <%= f.radio_button :background_type, 'image' %>
                <%= f.label :background_type_image, 'Image background (1920x1080)' %>
              </p>
              <p>
                <%= f.radio_button :background_type, 'video' %>
                <%= f.label :background_type_video, 'Video background (Must be smaller than 12 MB)' %>
              </p>
            </div>

            <div data-show-when="input[name='slide[background_type]']==(image|video)">
              <div class="input-field file-field">
                <div class="btn">
                  <span>Background Media</span>
                  <%= f.file_field :background %>
                  <%= f.hidden_field :background_cache %>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <p>
                <%= f.check_box :remove_background %>
                <%= f.label :remove_background, "Remove background image" %>
              </p>
            </div>
            <br />
            <div class="radio-button-group">
              <label class="group-label">Foreground style</label>
              <p>
                <%= f.radio_button :foreground_type, 'none' %>
                <%= f.label :foreground_type_none, 'Simple foreground' %>
              </p>
              <p>
                <%= f.radio_button :foreground_type, 'image' %>
                <%= f.label :foreground_type_image, 'Image foreground (912x1080)' %>
              </p>
              <p>
                <%= f.radio_button :foreground_type, 'video' %>
                <%= f.label :foreground_type_video, 'Video foreground (Must be smaller than 12 MB)' %>
              </p>
            </div>

            <div class="field" data-show-when="input[name='slide[foreground_type]']==(image|video)">
              <div class="input-field file-field">
                <div class="btn">
                  <span>Foreground Media</span>
                  <%= f.file_field :foreground %>
                  <%= f.hidden_field :foreground_cache %>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <p>
                <%= f.check_box :remove_foreground %>
                <%= f.label :remove_foreground, "Remove foreground image" %>
              </p>
            </div>

            <div class="radio-button-group" data-show-when="input[name='slide[foreground_type]']==(image|video)">
              <label class="group-label">Foreground positioning</label>
              <p>
                <%= f.radio_button :foreground_sizing, 'auto' %>
                <%= f.label :foreground_sizing_auto, 'Exact Size' %>
              </p>
              <p>
                <%= f.radio_button :foreground_sizing, 'cover' %>
                <%= f.label :foreground_sizing_cover, 'Fill Screen' %>
              </p>
              <p>
                <%= f.radio_button :foreground_sizing, 'contain' %>
                <%= f.label :foreground_sizing_contain, 'Fill Screen (do not crop)' %>
              </p>
            </div>
          </div>

          <div class="input-field" data-show-when="#slide_template==directory">
            <%= f.select :building_name, Faculty.all_building_names.map{|n| [n, n] }, {prompt: 'Select faculty'} %>
            <%= f.label :building_name, "Show Faculty In" %>
          </div>

          <div class="scheduled-items-container" data-show-when="#slide_template==schedule" >
            <h4>Listing of Events to Show on Slide</h4>
            <ul id="event-list-parent" data-collapsible="expandable"
            data-behavior="dynamic-fields-parent" data-behavior="sortable" class='collapsible <%= "empty" if @slide.scheduled_items.empty? %>'>
              <%= f.fields_for :scheduled_items do |ff| %>
                <% render 'scheduled_item_fields', f: ff %>
              <% end %>
            </ul>
            <%= link_to_add_dynamic_fields "+ Add Event", f, :scheduled_items, class: 'btn', id: 'add-event-button' %>
          </div>
        </div>
        <br />
        <br />
        <br />
        <h4>Slide Settings</h4>
        <div class="switch">
          <label>
            Hide
              <%= f.check_box :show %>
              <span class="lever"></span>
            Show
          </label>
        </div>
        <br />

        <div class="input-field">
          <%= f.number_field :duration %>
          <%= f.label :duration, "Number of seconds to display slide" %>
        </div>

        <div class="input-field">
          <%= f.date_field :play_on, value: format_date(@slide.play_on || Time.zone.now), class: 'datepicker' %>
          <%= f.label :play_on, "Start playing slide on", class: 'active' %>
        </div>

        <div class="input-field">
          <%= f.text_field :stop_on, class: 'datepicker' %>
          <%= f.label :stop_on, "Stop playing slide on", class: @slide.stop_on ? 'active' : '' %>
        </div>

        <div class="input-field">
          <%= f.select :sign_ids, @signs.map{|sign| [sign_name_with_approval_details(sign), html_escape_once(sign.id)] }, {prompt: 'Choose signs'}, multiple: '' %>
          <%= f.label :sign_ids, "Signs this slide should play on" %>
        </div>

        <div class="actions" data-show-when="#slide_template==(standard|directory|schedule|social_feed)">
          <%= f.button class: 'btn green', data: { feedback: 'Saving...' } %>
          <%= link_to "Delete", @slide, class: 'delete-slide', method: :delete, data: { confirm: 'Are you sure you want to delete this slide?'} %>
        </div>
      </div>
      <div class="slide-live-preview <%= @slide.orientation %>">
        <div class="js-sticky-slide-preview">
          <div class="slide-preview">
            <div class="slide-preview-wrapper">
              <%= content_tag  :iframe, nil, src: preview_slide_path(@slide.find_or_create_draft), id: 'slide-live-preview', frameborder: 0, allowfullscreen: true %>
            </div>
          </div>
          <div style="margin-top: 30px; text-align: center;">
            <%= link_to 'Refresh Preview', 'javascript:Admin.Slides.livePreviewAjax();' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div> 