<div class="scheduled-item-fields" data-behavior="dynamic-fields">
  <div class="input-field">
    <%= f.text_field :date %>
    <%= f.label :date, "Date of Event" %>
  </div>
  <div class="input-field">
    <%= f.text_field :time %>
    <%= f.label :time, "Time Event Starts" %>
  </div>
  <div class="input-field">
    <%= f.text_field :name %>
    <%= f.label :name, "Name of Event" %>
  </div>

  <div class="file-field">
    <div class="btn">
      <span>Thumbnail</span>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
    <p>
      <%= f.check_box :remove_image %>
      <%= f.label :remove_image, "Remove image" %>
    </p>
  </div>

  <br /> <br />
  <div class="input-field">
    <%= f.label :content %>
    <%= f.trix_editor :content %>
  </div>

  <div class="input-field">
    <%= f.select :admission, Slide.admission_types.map{|t| [t, t]}, include_blank: 'N/A' %>
    <%= f.label :admission %>
  </div>

  <div class="input-field">
    <%= f.select :audience, Slide.audience_types.map{|t| [t, t]}, include_blank: 'N/A' %>
    <%= f.label :audience %>
  </div>

  <div class="input-field">
    <%= f.text_field :play_on, class: 'datepicker', value: format_date(f.object.play_on) %>
    <%= f.label :play_on, "Start playing event on" %>
  </div>

  <div class="input-field">
    <%= f.text_field :stop_on, class: 'datepicker' %>
    <%= f.label :stop_on, "Stop playing event on" %>
  </div>

  <div class="input-field">
    <%= link_to_remove_dynamic_fields "Delete", f, class: 'btn red' %>
  </div>
</div>