<!-- HIDDEN FORM -->
<div class="modal modal-fixed-footer send-to-slide-modal" id="send-slide-<%= slide.id %>">
  <%= form_for slide do |f| %>
    <div class="modal-content">
        <% signs.each do |sign| %>
          <p>
            <%= f.check_box :sign_ids, id: "slide_#{slide.id}_sign_#{sign.id}" %>
            <%= f.label :sign_ids, sign_name_with_approval_details(sign), for: "slide_#{slide.id}_sign_#{sign.id}" %>
          </p>
        <% end %>
    </div>
    <div class="modal-footer">
      <%= f.button "Send", class: 'happy-button' %>
    </div>
  <% end %>
</div>