<!-- HIDDEN FORM -->
<div class="modal modal-fixed-footer send-to-slide-modal" id="send-slide-<%= slide.id %>">
  <%= form_for slide do |f| %>
    <div class="modal-content">
        <%= f.hidden_field :sign_ids, {multiple: true, value: ''} %>
        <% signs.each do |sign| %>
          <p>
            <%= f.check_box :sign_ids, { multiple: true, id: "slide_#{slide.id}_sign_#{sign.id}" }, sign.id, nil %>
            <%= f.label :sign_ids, sign_name_with_approval_details(sign), for: "slide_#{slide.id}_sign_#{sign.id}" %>
          </p>
        <% end %>
    </div>
    <div class="modal-footer">
      <%= f.button "Send", class: 'btn green', data: { feedback: "Sending..." } %>
    </div>
  <% end %>
</div>