<table>
  <tr>
    <td>Devices playing this slide:</td>
    <th>
      <%= "None" if slide.devices.empty? %>
      <%= slide.devices.order(:name).map{|d| link_to d.name, edit_device_path(d) }.join('<br />').try(:html_safe) %>
    </th>
  </tr>
  <tr>
    <td>Visibility:</td>
    <th><%= slide.show ? 'Visible' : 'Hidden'%></th>
  </tr>
  <tr>
    <td>Duration to play:</td>
    <th><%= slide.duration.to_s + " second".pluralize(slide.duration) %></th>
  </tr>
  <tr>
    <td>Date range to display:</td>
    <th>From <%= slide.play_on ? format_date(slide.play_on) : 'the beginning of time' %> to <%= slide.stop_on ? format_date(slide.stop_on) : 'infinity' %></th>
  </tr>
  <tr>
    <td>Menu Name:</td>
    <th><%= slide.menu_name %></th>
  </tr>
</table>