<%= home_button %>

<header class="admin-page-header">
  <h1 class="admin-page-title">My Slides</h1>
  <%= link_to '+ New Slide', new_slide_path %>
</header>

<%= search_form slides_path  %>

<br />
<% if @slides.empty? %>
  <p>No slides to display</p>
<% else %>
  <table class="slides-listing-table">
    <tbody>
      <% @slides.each do |slide| %>
        <tr>
          <td style="vertical-align: top; border: none;"><%= render 'preview_iframe', slide: slide %></td>
          <td style="text-align: left; vertical-align: top; padding-left: 16px; border: none;">
            <h4><%= slide.menu_name %></h4>
            <%= link_to 'Show', slide %> |
            <%= link_to 'Edit', edit_slide_path(slide) %> |
            <%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= render 'slide_info_table', slide: slide %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= paginate @slides %>

<br>

