<div class="search-filters-container">

  <div class="search input-field">
    <input id="search" type="text">
    <label for="search">Search</label>
  </div>

  <div class="filter">
    <label>Filter:</label>
    <div class="pill-buttons" id="filters">
      <%= search_filter(:filter, 'All', 'all') %><%= search_filter(:filter, 'Mine', 'mine') %>
    </div>
  </div>

  <div class="sort">
    <label>Sort:</label>
    <div class="pill-buttons" id="sort">
      <%= search_filter(:sort, 'Newest', 'newest') %><%= search_filter(:sort, 'Popular', 'popular') %><%= search_filter('sort', 'A-Z', 'alpha') %>
    </div>
  </div>

  <div class="new">
    <%= link_to "New", new_slide_path, class: 'btn green' %>
  </div>
</div>

<div class="slide-listing-container" id="slides-listing">
  <%= render partial: 'admin_slide', collection: @slides %>
</div>
<%= paginate @slides %>