<%= home_button %>

<header class="admin-page-header">
  <h1 class="admin-page-title">Slides </h1>
  <%= link_to '+ New Slide', new_slide_path %>
</header>

<table>
  <thead>
    <tr>
      <th>Preview</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= render 'preview_iframe', slide: slide %></td>
        <td style="text-align: left; vertical-align: top; padding: 16px 0 0 16px;">
          <br />
          <h4><%= slide.menu_name %></h4>
          <%= link_to 'Show', slide %> |
          <%= link_to 'Edit', edit_slide_path(slide) %> |
          <%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

