<% if session[:parent_sign_path] %>
  <%= link_to '<< Back to Device', session[:parent_sign_path], class: 'home-button' %>
<% else %>
  <%= link_to '<< All Slides', slides_path, class: 'home-button' %>
<% end %>

<h1 class="admin-page-title"><%= @slide.menu_name %></h1>

<p><%= link_to "Edit", edit_slide_path(@slide) %> |
<%= link_to "Full Screen Preview", preview_slide_path(@slide) %></p>

<%= render 'preview_iframe', slide: @slide %>

<div class="show-slide-settings">
  <%= render 'slide_info_table', slide: @slide %>
</div>