<div class="show-slide-container">
  <div class="left-column">
    <%= image_tag @slide.screenshot.url %>
    <div class="bold-actions">
      <%= link_to "#send-slide-#{@slide.id}", class: 'modal-trigger' do %>
        <%= inline_svg('send_dark.svg') %> Send to my sign
      <% end %>
      <%= link_to preview_slide_path(@slide) do %>
        <%= inline_svg('play_dark.svg') %> Preview
      <% end %>
      <%= link_to edit_slide_path(@slide) do %>
        <%= inline_svg('gear_dark.svg') %> Edit
      <% end %>
    </div>
  </div>

  <div class="right-column">
    <h1 class="name"><%= @slide.menu_name %></h1>
    <table>
      <tr>
        <td><label>Visibility:</label></td>
        <th><%= @slide.show ? 'Visible' : 'Hidden' %></th>
      </tr>
      <tr>
        <td><label>Duration:</label></td>
        <th><%= @slide.duration.to_s + " second".pluralize(@slide.duration) %></th>
      </tr>
      <tr>
        <td><label>Date range:</label></td>
        <th>From <%= @slide.play_on ? format_date(@slide.play_on) : 'the beginning of time' %> until <%= @slide.stop_on ? format_date(@slide.stop_on) : 'infinity and beyond' %></th>
      </tr>
    </table>
    <br />

    <label>Owners:</label>
    <ul class="owners-list">
      <%= render partial: 'ownable/owner_item', collection: @slide.users, as: :owner, locals: { removable: true, owned: @slide } %>
    </ul>

    <%= form_tag add_owner_slide_path(@slide), remote: true do %>
      <%= hidden_field_tag :user_id, id: 'user_id' %>
      <%= autocomplete_field_tag :search_users, nil, autocomplete_user_email_slides_path, id_element: '#user_id', class: 'add-owner', placeholder: '+ Add owner' %>
      <%= submit_tag "Add", class: 'btn' %>
    <% end %>

    <br />
    <label>Shown on <%= pluralize(@slide.signs.length, 'sign')%>:</label>
    <ul class="signs-list">
      <% @slide.signs.each do |sign| %>
        <li>
          <div class="sign-list-item-status">
            <%= content_tag :div, nil, class: (sign.active? ? 'sign-active' : 'sign-inactive') %>
          </div>
          <p><%= link_to sign.name, sign %></p>
        </li>
      <% end %>
    </ul>
  </div>

</div>
<%= render 'send_to_sign', slide: @slide, signs: Sign.order(:name) %>