<h1>Chapman Digital Signage</h1>

<p>Hi <%= @owners.map(&:first_name).to_sentence %>,</p>

<p><%= @requestor.full_name_with_email %> is requesting that their slide <strong><%= @slide.menu_name %></strong> be played on your sign <strong><%= @sign.name %></strong>.</p>

<p><%= image_tag attachments['screenshot.png'].url, alt: @slide.menu_name if attachments['screenshot.png'] %></p>

<p><%= link_to "Log in to Approve or Reject", root_url %></p>