<%= home_button %>
<h1 class="admin-page-title"><%= image_tag 'screen.png', alt: 'Devices' %> Devices</h1>

<table>
  <thead>
    <tr>
      <th style="width: 30%">Name</th>
      <th>Location</th>
      <th>Type</th>
      <th style="text-align: center">Number of Slides</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name.try(:humanize), edit_device_path(device) %></td>
        <td><%= device.location %></td>
        <td><%= device.menu.try(:humanize) %>
        <td style="text-align: center"><%= device.slides.length %></td>
        <td style="text-align: center">
          <%= link_to "Play", device %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "+ New Device", new_device_path %></p>
</div>