<%= home_button %>
<header class="admin-page-header">
<h1 class="admin-page-title">Devices</h1>
<%= link_to "+ New Device", new_device_path, id: 'new-device-link' %>
</header>

<%= search_form devices_path %>

<table>
  <thead>
    <tr>
      <th style="width: 30%">Name</th>
      <th>Location</th>
      <th>Type</th>
      <th style="text-align: center">Number of Slides</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name, edit_device_path(device) %></td>
        <td><%= device.location %></td>
        <td><%= device.menu.try(:humanize) %>
        <td style="text-align: center"><%= device.slides.length %></td>
        <td style="text-align: center">
          <%= link_to "Play", device %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>