<div class="js-device-meta"
     data-id="<%= @device.id %>"
     data-poll-device-path="<%= poll_device_path @device %>"
     data-updated-at="<%= @device.updated_at %>"></div>

<div id="ui-feed" class="ui-feed ui-feed--show-mouse">

  <%= render "devices/menus/#{@device.menu}" %>

  <main class="owl-carousel" role="main" >
    <%= render(@device.active_slides) %>
  </main>
</div>

<%= render 'emergency' if @device.any_emergency? %>