<%= home_button %>
<header class="admin-emergency-header">
  <h1 class="admin-page-title">Emergency Broadcast </h1>
  <%= link_to "Clear All Emergency Messages", admin_clear_emergency_path, method: :post, data: {confirm: 'Are you sure you want to clear all emergency messages?'} %>
</header>

<%= form_tag action: 'update_emergency' do %>
  <fieldset>
    <div class="field">
      <%= label_tag :emergency, "Emergency message title" %>
      <%= text_field_tag :emergency %>
    </div>

    <div class="field">
      <%= label_tag :emergency_detail, "Emergency message description" %>
      <%= text_field_tag :emergency_detail %>
    </div>

    <label>Choose the devices you would like to broadcast this message to:</label>

    <%= link_to "Select all",    "javascript:Utils.selectAllCheckboxes()" %> |
    <%= link_to "De-select all", "javascript:Utils.deselectAllCheckboxes()" %>
    <table class="device-checkboxes-table">
      <tr>
        <th></th>
        <th>Sign Name</th>
        <th>Emergency Message</th>
      </tr>
      <% @signs.each do |sign| %>
      <tr>
          <td><%= check_box_tag "sign_ids[]", sign.id, false, id: "sign_ids_#{sign.id}" %></td>
          <td><%= label_tag "sign_ids[#{sign.id}]", sign.name.try(:humanize) %></td>
          <td>
            <% if sign.emergency? %>
              <b><%= sign.emergency %></b><br />
              <i><%= sign.emergency_detail %></i>
            <% else %>
              (None)
            <% end %>
          </td>
      </tr>
      <% end %>
    </table>

    <div class="field submit-emergency">
      <%= submit_tag "Broadcast!" %>
      <p>Your emergency message will immediately display on all the checked signs.</p>
    </div>
  </fieldset>
<% end %>