<div class="admin-content">



  <div class="admin-site-title">
    <%= image_tag 'tv_top.jpg', alt: 'TV' %>
    <h1>Digital Signage Administration</h1>
    <p>The admin panel for Chapman's Digital Signs on Campus</p>
  </div>

  <div class="grid-items-lines">
    <a href="<%= devices_path %>" class="grid-item">
      <%= image_tag 'screen.png', alt: 'Devices' %>
      <h1>Manage Devices</h1>
      <p>Add, update, and delete digital signage devices.</p>
    </a>

    <a href="<%= admin_emergency_path%>" class="grid-item">
      <%= image_tag 'fire2.png', alt: 'Emergency' %>

      <h1>Broadcast an Emergency</h1>
      <p>Send an emergency notification to one, several, or all deivces.</p>
    </a>

    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </div>

</div>