<div id="unapproved-sign-slide-<%= notification.id %>" class="unapproved-sign-slide">
<div class="slide-preview-wrapper">
  <p><%= content_tag  :iframe, nil, src: preview_slide_path(notification.slide.find_or_create_draft), frameborder: 0, allowfullscreen: true %></p>
  </div>
  <p>
    The slide <%=link_to notification.slide.menu_name, notification.slide %> needs to be
    approved to go on the sign <%= link_to notification.sign.name, notification.sign %>.
  </p>
  <p class="daterange">
    <% if notification.slide.play_on.present? %>
      <span>
        <strong>Starting on: </strong><%= notification.slide.play_on.strftime("%B %-d, %G") %>
      </span>
    <%end%>
    <% if notification.slide.stop_on.present? %>
      <span>
        <strong>Ending on: </strong><%= notification.slide.stop_on.strftime("%B %-d, %G") %>
      </span>
    <% end %>
  </p>
  <div class="input-field">
    <%= text_field_tag "message-#{notification.id}" %>
    <%= label_tag      "message-#{notification.id}", "Approve/Reject Slide Custom Message" %>
  </div>
  <p>
    <%= link_to 'Approve', approve_sign_slide_path(notification), remote: true, method: :post,
        class: 'approve-sign-slide btn green' %>
    <%= link_to 'Reject', reject_sign_slide_path(notification), remote: true, method: :post,
        class: 'reject-sign-slide btn red' %>
  </p>
</div>