<div id="unapproved-sign-slide-<%= ss.id %>" class="unapproved-sign-slide">
  <p><%= image_tag ss.slide.screenshot, class: 'screenshot' %></p>
  <p>The slide <%=link_to ss.slide.menu_name, ss.slide %> needs to be approved to go on the sign <%= link_to ss.sign.name, ss.sign %>.</p>
  <div class="input-field">
    <%= text_field_tag "message-#{ss.id}" %>
    <%= label_tag      "message-#{ss.id}", "Approve/Reject Slide Custom Message" %>
  </div>
  <p>
    <%= link_to 'Approve', approve_sign_slide_path(ss), remote: true, method: :post, class: 'approve-sign-slide btn green' %>
    <%= link_to 'Reject', reject_sign_slide_path(ss), remote: true, method: :post, class: 'reject-sign-slide btn red' %>
  </p>
</div>