<% if current_user.try(:super_admin?) %>
  <div class="admin-navigation-container">
    <div class="admin-navigation">
    <%= link_to "Emergency Broadcast", emergencies_path %> |
    <%= link_to "Manage Users", users_path %> |
    <%= link_to "Manage Sponsors", sponsors_path %> |
    <%= link_to "Server Stats", server_path %>
    </div>
  </div>
<% end %>

<div class="notifications-container">

  <div class="notifications-listing">
    <h4>Notifications</h4>
    <% @unapproved_sign_slides.each do |ss| %>
      <div id="unapproved-sign-slide-<%= ss.id %>" class="unapproved-sign-slide">
        <p><%= image_tag ss.slide.screenshot, class: 'screenshot' %></p>
        <p>The slide <%=link_to ss.slide.menu_name, ss.slide %> needs to be approved to go on the sign <%= link_to ss.sign.name, ss.sign %>.</p>
        <p>
          <%= link_to 'Approve', approve_sign_slide_path(ss), remote: true, method: :post, class: 'approve-sign-slide btn green' %>
          <%= link_to 'Reject', reject_sign_slide_path(ss), remote: true, method: :delete, class: 'reject-sign-slide btn red' %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="activities-listing">
    <h4>Recent Activity</h4>
    <%= render_activities(@activites, layout: 'activity') %>
  </div>

</div>