<main class="content-container admin-emergency">
  <header class="clearfix">
    <h1 class="float-left">Emergency Broadcast</h1>

    <%= link_to "Clear All Emergency Messages", emergency_path(id: 'all'), method: :delete, class: 'btn green float-right', data: {confirm: 'Are you sure you want to clear all emergency messages?'} %>
  </header>

  <%= form_tag action: :create do %>
    <div class="emergency-message-fields">
      <div class="input-field">
        <%= label_tag :emergency, "Emergency message title" %>
        <%= text_field_tag :emergency %>
      </div>

      <div class="input-field">
        <%= text_field_tag :emergency_detail %>
        <%= label_tag :emergency_detail, "Emergency message description" %>
      </div>
    </div>

      <p>
        Choose the devices you would like to broadcast this message to.<br/>
        <%= link_to "Select all",    "javascript:Utils.selectAllCheckboxes()" %> |
        <%= link_to "De-select all", "javascript:Utils.deselectAllCheckboxes()" %>
      </p>
      
      <table>
        <thead>
          <tr>
            <th>Sign Name</th>
            <th>Emergency Message</th>
            <th width="135"></th>
          </tr>
        </thead>
        <tbody>
          <% @signs.each do |sign| %>
          <tr>
            <td>
              <%= check_box_tag "sign_ids[]", sign.id, false, id: "sign_ids_#{sign.id}" %>
              <%= label_tag "sign_ids[#{sign.id}]", sign.name %>
            </td>
            <td>
              <% if sign.emergency? %>
                <b><%= sign.emergency %></b><br />
                <i><%= sign.emergency_detail %></i>
              <% else %>
                (None)
              <% end %>
            </td>
            <td>
              <% if sign.emergency? %>
                <%= link_to "Clear", emergency_path(id: sign.id, emergency: '', emergency_detail: ''), method: :delete, class: "btn green btn-small" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    
      <%= submit_tag "Broadcast!", class: 'broadcast-button btn red' %>
      <p>Your emergency message will immediately be displayed on all the checked signs.</p>
  <% end %>
</main>