<h1>Listing Sponsors</h1>
<table>
  <thead>
  	<tr>
  	  <th>Name</th>
  	  <th>Icon</th>
  	</tr>
  </thead>
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
      	<td><%= sponsor.name %></td>
      	<td><%= sponsor.icon %></td>
        <td><%= link_to 'Show', sponsor %></td>
        <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
        <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  	<% end %>
  </tbody>
</table>
<%= link_to 'New Sponsor', new_sponsor_path %>

