<article data-slide-name="<%= slide.name %>" class="ui-slide ui-slide--standard ui-slide--dark ui-slide--right <%= 'ui-slide--has-background' unless slide.background.blank? %>">

  <div class="ui-slide-body">
    <h1 class="ui-slide-heading"><%= slide.heading %></h1>
    <subhead class="ui-slide-subheading"><%= slide.subheading %></subhead>

    <p class="ui-slide-datetime"><%= slide.datetime %></p>
    <p class="ui-slide-location"><%= slide.location %></p>

    <div class="ui-slide-content"><%= slide.content.try(:html_safe) %></div>
  </div>

  <% if slide.background_type == 'video' %>
    <video src="<%= slide.background %>" class="ui-slide-background" loop></video>
  <% end %>

  <% if slide.background_type == 'image' %>
    <div class="ui-slide-background" style="width: 100%; height: 100%; background:url('<%= slide.background_url %>') no-repeat center; background-size: <%= slide.background_sizing %>;"></div>
  <% end %>

  <% if slide.foreground_type == 'video' %>
    <video src="http://www2.chapman.edu/<%= slide.foreground %>" class="ui-slide-foreground" loop style="width: 100%; height: 100%;"></video>
  <% end %>

  <% if slide.foreground_type == 'image' %>
    <div class="ui-slide-foreground" style="width: 100%; height: 100%; background:url('<%= slide.foreground_url %>') no-repeat center; background-size: <%= slide.foreground_sizing %>;"></div>
  <% end %>

  <footer class="ui-slide-organizer"><img class="ui-slide-organizer-icon" src="//www2.chapman.edu/digital-signage/_files/img/icon-<%= slide.organizer_id %>.svg"/><%= slide.organizer %></footer>
</article>