<div class="sign-form-container">
  <%= form_for(@sign) do |f| %>
    <% if @sign.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sign.errors.count, "error") %> prohibited this sign from being saved:</h2>

        <ul>
        <% @sign.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>p
      </div>
    <% end %>

    <div class="input-field">
      <%= f.text_field :name %>
      <%= f.label      :name, "Sign name" %>
    </div>

    <div class="input-field">
      <%= f.text_field :location %>
      <%= f.label      :location, "Physical location" %>
    </div>

    <div class="input-field">
      <%= f.select :template, Sign.menus.map{|m| [m.humanize, m] } %>
      <%= f.label :template, "Template" %>
    </div>

    <div class="input-field">
      <%= f.select :transition, Sign.transitions.map{|m| [m.humanize, m] } %>
      <%= f.label :transition, "Transition type" %>
    </div>

    <br />
    <div class="actions">
      <%= f.button class: 'btn green' %>
    </div>
  <% end %>
</div>