<div class="sign-slide-list-item" id="sign_slide_ids-<%=slide.id%>">
  <div class="left-actions">
    <%= link_to inline_svg('close.svg'), '#', class: 'destroy-slide-sign' %>
    <%= inline_svg('reorder.svg', class: 'reorder-handle') %>
  </div>

  <div class="screenshot">
    <%= image_tag slide.screenshot.url, height: 100 %>
    <div class="status <%= slide.status %>"><%= slide.status.try(:titleize) %></div>
  </div>

  <div class="right-actions">
    <p><%= slide.menu_name %></p>
    <div class="bold-actions">
      <%= link_to slide do %>
        <%= image_tag('more_info.svg') %> More info
      <% end %>
      <%= link_to edit_slide_path(slide) do %>
        <%= image_tag('gear_dark.svg') %> Edit
      <% end %>
    </div>
  </div>
</div>