<div class="show-sign-container">

  <div class="sign-info">
    <label>Sign name</label>
    <p><%= @sign.name %></p>

    <label>Physical location</label>
    <p><%= @sign.location %></p>

    <label>Template</label>
    <p><%= @sign.menu.try(:titleize) %></p>

    <label>Transition type</label>
    <p><%= @sign.transition ? "#{@sign.transition.try(:capitalize)} effect" : 'None' %></p>

    <label>Visibility</label>
    <p><%= @sign.visibility.try(:titleize) %></p>

    <label>Owners</label>
    <ul class="owners-list">
      <%= render partial: 'ownable/owner_item', collection: @sign.users, as: :owner, locals: { removable: true, owned: @sign } %>
    </ul>

    <% if can? :update, @sign %>
      <%= form_tag add_owner_sign_path(@sign), remote: true, id: 'add-owner' do %>
        <%= hidden_field_tag :user_id, id: 'user_id' %>
        <%= autocomplete_field_tag :search_users, nil, autocomplete_user_email_signs_path, id_element: '#user_id', class: 'add-owner', placeholder: '+ Add owner by email', "data-autocomplete-label" => "Sorry, no users found. Try typing their chapman Chapman email address." %>
        <%= submit_tag "Add Owner", class: 'btn' %>
      <% end %> 
    <% end %>

    <br />
    <div class="actions bold-actions">
      <%= link_to play_sign_path(@sign), target: '_blank' do %>
        <%= image_tag('play_dark.svg') %> Play
      <% end %>
      <% if can? :update, @sign %>
        <%= link_to edit_sign_path(@sign) do %>
          <%= image_tag('gear_dark.svg') %> Edit
        <% end %>
      <% end %>
      <% if can? :delete, @sign %>
        <%= link_to @sign, method: :delete, data: { confirm: 'Are you sure you want to delete this sign?'} do %>
          <%= image_tag('close.svg') %> Delete
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="sign-slides">
    <div class="sign-slides-listing" <%= "id=js-sortable-slides" if can? :update, @sign %>>
      <%= render partial: 'sign_slide', collection: @sign.sign_slides.order(:order).eager_load(:slide) %>
    </div>
  </div>
</div>

<%= content_tag :div, nil, id: 'js-sign-meta', data: { sort_path: order_sign_path(@sign) } %>