<div class="show-sign-container">

  <div class="sign-info">
    <label>Sign name</label>
    <p><%= @sign.name %></p>

    <label>Physical location</label>
    <p><%= @sign.location %></p>

    <label>Template</label>
    <p><%= @sign.menu.try(:titleize) %></p>

    <label>Transition type</label>
    <p><%= @sign.transition.try(:capitalize) %> effect</p>

    <label>Owners</label>
    <ul class="owners-list">
      <% @sign.users.each do |owner| %>
        <li><div class="chip"><%= owner.full_name %></div></li>
      <% end %>
    </ul>
    <br />
    <div class="actions bold-actions">
      <%= link_to play_sign_path(@sign) do %>
        <%= image_tag('play_dark.svg') %> Play
      <% end %>
      <%= link_to edit_sign_path(@sign) do %>
        <%= image_tag('gear_dark.svg') %> Edit
      <% end %>
    </div>
  </div>

  <div class="sign-slides">
    <div class="sign-slides-listing" id="js-sortable-slides">
      <%= render partial: 'sign_slide', collection: @sign.sign_slides.order(:order) %>
      <%= link_to "+ New Slide", new_slide_path, class: 'happy-button add-new-slide', id: 'add-slide-link' %>
    </div>
  </div>
</div>
<%= content_tag :div, nil, id: 'js-sign-meta', data: { sort_path: order_sign_path(@sign) } %>