<div class="show-sign-container">

  <div class="sign-info">

    <label>Sign name</label>
    <p><%= @sign.name %></p>

    <label>Physical location</label>
    <p><%= @sign.location %></p>

    <label>Template</label>
    <p><%= @sign.template %></p>

    <label>Transition type</label>
    <p><%= @sign.transition %> effect</p>

    <label>Owners</label>
    <ul class="owners-list">
      <% @sign.users.each do |owner| %>
        <li><div class="chip"><%= owner.full_name %></div></li>
      <% end %>
    </ul>

    <div class="actions">
      <%= link_to "Edit", edit_sign_path(@sign) %>
    </div>
  </div>

  <div class="sign-slides">
    <div class="sign-slides-listing">
      <%= render partial: 'slide', collection: @sign.slides %>
    </div>
  </div>
</div>