<p id="notice"><%= notice %></p>

<h1>Listing Devices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name, [:admin, device] %></td>
        <td><%= device.location %></td>
        <td><%= link_to 'Edit', edit_admin_device_path(device) %></td>
        <td><%= link_to 'Destroy', [:admin, device], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_admin_device_path %>
