<p id="notice"><%= notice %></p>

<h1><%= @device.name %></h1>
<p><%= @device.location %></p>

<p><strong>Slides</strong></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Organizer</th>
      <th>Template</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @device.slides.each do |slide| %>
      <tr>
        <td><%= slide.menu_name %></td>
        <td><%= slide.organizer %></td>
        <td><%= slide.template %></td>
        <td><%= slide.duration %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_device_path(@device) %> |
<%= link_to 'Back', admin_devices_path %>
