<div class="navbar">
  <div class="navbar-left">
    <a href="<%= root_url %>">
      <%= image_tag 'cu_window.svg' %>
      <h1>Digital <strong>Signage</strong></h1>
    </a>
  </div>

  <div class="navbar-right">
    <% if Rails.env.development? %>

      <div class="switch-user-dropdown">
        <%= switch_user_select %>
      </div>

    <% elsif current_user %>
      <p>Signed in as <%= current_user.first_name %></p> <%= link_to "Sign Out", destroy_user_session_path, method: 'delete', class: 'navbar-button' %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "sign-in" %>
    <% end %>
  </div>

  <div class="navbar-center">
    <div class="pill-buttons">
      <%# These links can have no white-space between them for navbar to be styled properly. %>
      <%= format(
            '%s%s%s%s',
            link_to("Notifications", notifications_path,
                    class: controller_action == 'notifications#index' ? 'active' : ''),
            link_to("Signs", signs_path, class: signs_controller? ? 'active' : ''),
            link_to("Slides", slides_path , class: slides_controller? ? 'active' : ''),
            Rails.env.development? ? link_to("Dev Email", '/letter_opener') : ''
          ).html_safe %>
    </div>

  </div>
</div>

<% if current_user.try(:super_admin?) %>
  <div class="admin-navigation-container">
    <div class="admin-navigation">
    <%= link_to "Manage Users", users_path %> |
    <%= link_to "Manage Sponsors", sponsors_path %> |
    <%= link_to "Server Stats", server_path %>
    </div>
  </div>
<% end %>
