<div class="navbar">
  <div class="navbar-left">
    <a href="<%= root_url %>">
      <%= image_tag 'cu_window.svg' %>
      <h1>Digital <strong>Signage</strong></h1>
    </a>
  </div>

  <div class="navbar-right">
    <% if current_user %>
      <p>Signed in as <%= current_user.first_name %></p> <%= link_to "Sign Out", destroy_user_session_path, method: 'delete', class: 'navbar-button' %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "sign-in" %>
    <% end %>
  </div>

  <div class="navbar-center">
    <div class="pill-buttons">
      <%= link_to "Notifications", notifications_path, class: controller_action == 'notifications#notifications' ? 'active' : '' %><%= link_to "Signs", signs_path, class: signs_controller? ? 'active' : '' %><%= link_to "Slides", slides_path , class: slides_controller? ? 'active' : '' %>
    </div>

  </div>
</div>

<% if current_user.try(:super_admin?) %>
  <div class="admin-navigation-container">
    <div class="admin-navigation">
    <%= link_to "Emergency Broadcast", emergencies_path %> |
    <%= link_to "Manage Users", users_path %> |
    <%= link_to "Manage Sponsors", sponsors_path %> |
    <%= link_to "Server Stats", server_path %>
    </div>
  </div>
<% end %>