<!DOCTYPE html>
<html>
<head>
  <title>Admin | Digital Signage</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="ca5cbe0ec20f792ddfa8549a8abf9b2d"></script>
  <%= csrf_meta_tags %>
</head>
<body data-controller-action="<%= controller_action %>">

<%= display_flashes %>

<div class="admin-content">
  <%= yield %>
</div>

</body>
</html>
