<!DOCTYPE html>
<html>
<head>
  <title>Admin | Digital Signage</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller-action="<%= controller_action %>">

<%= display_flashes %>

<div class="admin-content">
  <%= yield %>
</div>

</body>
</html>
